<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}Project Data Tracker</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        
        {% load staticfiles %}
        <!--<link rel="stylesheet" href="{% static 'css/kube.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />-->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css" />
        <script src="{% static 'js/user.js' %}"></script>
    </head>
    <body role="document">

        
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            
            <div id="navbar" class="navbar-collapse collapse">
             

              <form class="navbar-form navbar-right" method="post">
                <button type="button" class="btn btn-danger" onclick="window.open('', '_self', ''); window.close();">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close
                </button>
              </form>

            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <div class="container theme-showcase" role="main">
            <div class="page-header">
      </div>



<div class="row">
        <div class="col-md-12">
            <h3>Defects</h3>
            <table class="table">
            {% if defects %}
            <thead>
              <tr>
                <th>Type</th>
                <th>Iteration</th>
                <th>Implementation</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                {% for defect in defects %}
              <tr>
                <td>{{ defect.type }}</td>
                <td>{{ defect.which_iteration }}</td>
                <td>{{ defect.implementation }}</td>
                <td>{{ defect.description }}</td>
              </tr>
              {% endfor %}
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                        No defects reported
                      </div>
                    {% endif %}
            </tbody>
          </table>
        </div>

        </div>



        </div>
    </body>
    <footer>

        </footer>
</html>
