<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}Project Data Tracker</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        
        {% load staticfiles %}
        <!--<link rel="stylesheet" href="{% static 'css/kube.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />-->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css" />
        <script src="{% static 'js/user.js' %}"></script>
    </head>
    <body role="document">

        
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/pdt/activity/">Project Data Tracker</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/pdt/dev_project/{{ did }}/0/" style="text-decoration:none">Development</a></li>
                <li><a href="/pdt/dev_project/{{ did }}/0/" style="text-decoration:none">Defect removal</a></li>
                <li><a href="/pdt/dev_project/{{ did }}/1/" style="text-decoration:none">Management</a></li>
                <!--<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>-->
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <div class="container theme-showcase" role="main">
            <div class="page-header">
      </div>
      <div class="row">
        <div class="col-md-12">
            <h3>{{ name }}</h3>
            <h5>Active iterations</h5>
          <table class="table">
          	{% if active_iterations %}
            <thead>
              <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>Timer</th>
                <th>Defect</th>
              </tr>
            </thead>
            <tbody>
            	{% for active in active_iterations %}
              <tr>
                <td>{{ active.name }}</td>
                <td>{{ active.start_date }}</td>
                <td><form action="/pdt/timer/{{ did }}/{{ active.id }}/" method="post" target="_blank">{% csrf_token %}
					<input type="submit" class="btn btn-success" value="Start">
					</form></td>
	    		<td><form action="/pdt/defect_report/{{ did }}/{{ pid }}/{{ phid }}/0/{{ active.id }}" method="post">{% csrf_token %}
					<input type="submit" class="btn btn-info" value="Report">
					</form></td>
              </tr>
              {% endfor %}
			{% else %}
			<div class="alert alert-warning" role="alert">
		        No active iterations
		      </div>
			{% endif %}
            </tbody>
          </table>
        </div>

    	</div>
<form action="/pdt/dev_phase/{{ did }}/{{ pid }}/{{ check }}" method="post">
{% csrf_token %}
<button type="submit" class="btn btn-primary" value="Go back to phase page">Go back to phase page</button>
</form>
        </div>


    </body>
    <footer>
            <div class="wrap">
                <span class="label label-default" bold>System time</span>
                <strong>{% now "Y-n-j f a" %}</strong>
            </div>
        </footer>
</html>


